{#{% extends 'temp/deliveryagent_home.html' %}#}
{#{% block base %}#}
{#    <section id="c" >#}
{#<body>#}
{# <center>#}
{#<h1 align="center">DELIVERY STATUS</h1>#}
{#<br>#}
{##}
{# <table align="center" border="1">#}
{# <tr>#}
{#  <td>SlNo</td>#}
{#    <td>ORDER ID</td>#}
{#    <td>NAME</td>#}
{#    <td>ADDRESS</td>#}
{#    <td>CONTACT</td>#}
{#    <td>DATE</td>#}
{#    <td>STATUS</td>#}
{# </tr>#}
{#{% for i in cb %}#}
{#    <tr>#}
{#        <td></td>#}
{#        <td>{{ i.purchase.order_id }}</td>#}
{#        <td>{{ i.purchase.patient.name }}</td>#}
{#        <td>{{ i.purchase.patient.address }}</td>#}
{#        <td>{{ i.purchase.patient.phno}}</td>#}
{#        <td>{{ i.date }}</td>#}
{#        <td>{{ i.status }}</td>#}
{#        <td><a href="{% url 'delstatus' idd=i.de_id %}">delivered</a></td>#}
{##}
{#       </tr>#}
{#     {% endfor %}#}
{# </table></center>#}
{#</body>#}
{#    </section>#}
{#{% endblock %}#}
{#</html>#}

{% extends 'temp/deliveryagent_home.html' %}
{% block base %}
<section id="c" style="padding-top: 100px">
  <div class="card">
    <h1>Delivery Status</h1>
    <table>
      <thead>
        <tr>
          <th>SlNo</th>
          <th>Order ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for i in cb %}
        <tr>
          <td data-label="SlNo">{{ forloop.counter }}</td>
          <td data-label="Order ID">{{ i.purchase.order_id }}</td>
          <td data-label="Name">{{ i.purchase.patient.name }}</td>
          <td data-label="Address">{{ i.purchase.patient.address }}</td>
          <td data-label="Contact">{{ i.purchase.patient.phno }}</td>
          <td data-label="Date">{{ i.date }}</td>
          <td data-label="Status">{{ i.status }}</td>
          <td data-label="Action">
            <a href="{% url 'delstatus' idd=i.de_id %}#c" class="btn btn-success btn-sm">Update</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" style="text-align:center;">No deliveries found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
